* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("images/fondo_02.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo a{
    cursor: default;
    font-size: 1.5em;
    color: deeppink;
    text-shadow: -1px 1px 0 black;
    text-decoration: none;
    user-select: none;
    font-family: 'Times New Roman', Times, serif;
}
.navi a {
  position: relative;
  font-size: 1.1em;
  color: cyan;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}
.navi a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: yellow;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}
.navi a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
main > * {
  width: 450px;
  height: 300px;
  padding: 10px;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 5%;
  overflow: auto;
  word-wrap: break-word;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-style: italic;
  color: lightsteelblue;
  text-shadow: -1px 1px 0 gray;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 255, 0.3); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 0, 255, 0.3); 
}
input::placeholder {
  color: lightsteelblue;
}
.titulo_disc {
  text-align: center; 
  padding-top: 5%; 
  text-decoration-line: overline; 
  text-decoration-color: lightsteelblue;
}
.busc {
  color: black;
  text-decoration: none;
  padding: 8px 15px;
}
