{% extends 'A_Main/index.html' %}
{% block title %}| Remeras {% endblock %}
{%block content %}
    <ul style="list-style-type: none; padding: 0;">
        <h1 style="text-align: center; padding-top: 9%; text-decoration-line: overline; text-decoration-color: lightsteelblue;">
            <a href="{% url 'contenido:agg_remera' %}" style="user-select: none; text-decoration: none; color: lightsteelblue; text-shadow: -1px 1px 0 black;">
                Remeras
            </a>
        </h1>
        {% for shirt_list in lista_remeras %}
            <li style="padding: 10px; padding-top: 9%; border-bottom: 1px solid #ccc; text-align: center;">
                {{shirt_list.disenio}} - {{shirt_list.talle}}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
